﻿@model Dashboard
@{
    ViewBag.Title = "Home";
}

<div id="grid">
    <div>
        <div class="widget text-light" id="sales-kpi">
            <h2>Sales</h2>

            <div class="metric">
                <div><i class="far fa-arrow-up fa-2x"></i></div>
                <div>
                    <h4>Sales Funnel Contract Value</h4>
                    <h3>$1,100,000<small>($1,000,000)</small></h3>
                </div>
            </div>

            <div class="metric">
                <div><i class="far fa-arrow-down fa-2x"></i></div>
                <div>
                    <h4>Commited Deals</h4>
                    <h3>$128,000<small>($150,000)</small></h3>
                </div>
            </div>

            <div class="metric-3-col">
                <div class="metric">
                    <div><i class="far fa-arrow-up fa-2x"></i></div>
                    <div>
                        <h4>Deals</h4>
                        <h3>60<small>(50)</small></h3>
                    </div>
                </div>
                <div class="metric">
                    <div><i class="far fa-minus fa-2x"></i></div>
                    <div>
                        <h4>Won</h4>
                        <h3>0<small>(0)</small></h3>
                    </div>
                </div>
                <div class="metric">
                    <div><i class="far fa-arrow-down fa-2x"></i></div>
                    <div>
                        <h4>Lost</h4>
                        <h3>10<small>(5)</small></h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="widget" id="marketing-kpi">
            <h2>Marketing</h2>

            <div class="metric-2-col">
                <div class="metric">
                    <div><i class="far fa-arrow-up fa-2x"></i></div>
                    <div>
                        <h4>MQLs</h4>
                        <h3>23<small>(10)</small></h3>
                    </div>
                </div>
                <div class="metric">
                    <div><i class="far fa-arrow-down fa-2x"></i></div>
                    <div>
                        <h4>SQLs</h4>
                        <h3>3<small>(10)</small></h3>
                    </div>
                </div>
            </div>

            <h5>Landing Page Performance</h5>
            <div class="metric-3-col">
                <div class="metric">
                    <div><i class="far fa-arrow-up fa-2x"></i></div>
                    <div>
                        <h4>Submissions</h4>
                        <h3>23<small>(10)</small></h3>
                    </div>
                </div>
                <div class="metric">
                    <div><i class="far fa-arrow-down fa-2x"></i></div>
                    <div>
                        <h4>Contacts</h4>
                        <h3>3<small>(10)</small></h3>
                    </div>
                </div>
                <div class="metric">
                    <div><i class="far fa-arrow-up fa-2x"></i></div>
                    <div>
                        <h4>Time</h4>
                        <h3>5 minutes<small>(4:30)</small></h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="widget" id="misc-kpi">
            <h2>Operations</h2>
        </div>

    </div>

    <div>
        <div class="widget">
            <h2>Discussion</h2>
            <div class="weavy-container" id="#discussions">

            </div>

        </div>
        <div>
            <div>
                <h2>Files</h2>
            </div>
            <div>
                <h2>Tasks</h2>
            </div>
        </div>
    </div>

    @* Exempel... *@

    <div>
        <h1>Webinars</h1>

        @foreach (var x in Model.Webinars["objects"]) {
            <strong>@x["absolute_url"].ToString()</strong>
            <p>@x.ToString()</p>
            <br /><br />
        }

        @*<div>@Model.Webinars["objects"][0]["absolute_url"].ToString()</div>
            @foreach (var x in Model.Webinars) {
                <dl>
                    <dt>@x.Key</dt>
                    <dd>@x.Value.ToString()</dd>
                </dl>
            }*@
    </div>

    <script>
        var weavy = new Weavy({jwt: "@Model.Token" });
        var space = weavy.space({ key: "management-dashboard" });
        space.app({
            key: "discussions",
            type: "posts",
            container: "#discussions"
        });
    </script>

</div>