﻿html, body {
    font-family: 'Nunito', sans-serif;
    height: 100%;
    width: 100%;
    padding: 20px 0;
    margin: 0px;
    background: #fbf7ef;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: 0;
    margin: 0;
    font-weight: 100;
    letter-spacing: -1px;
    color: #888;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

a {
    text-decoration: none
}


#main {
    background: #fff;
    min-height: 100%;
    border-radius: 20px;
    width: 1400px;
    margin: auto;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

#topbar {
    padding: 40px 50px 0px 50px;
    height: 80px;
}

    #topbar h1 {
        float: left;
        font-size: 32px;
        font-weight: 400;
        color: #176c94;
    }


        #topbar h1 i {
            --fa-secondary-opacity: 1.0;
            --fa-primary-color: #8ac6e4;
            --fa-secondary-color: #176c94;
            margin-right: 10px;
        }

#navigation {
    float: right;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

    #navigation div {
        margin: 0 0 0 25px;
        display: flex;
        align-items: center;
    }

        #navigation div span {
            margin-left: 10px;
            font-weight: 100;
            letter-spacing: -1px;
            color: #176c94;
        }


    #navigation div {
        opacity: .5;
        transition: .5s;
        cursor: pointer;
    }

        #navigation div:hover {
            opacity: 1;
        }

    #navigation .fa-user-circle {
        --fa-secondary-opacity: 1.0;
        --fa-primary-color: #8ac6e4;
        --fa-secondary-color: #176c94;
    }


#grid {
    display: grid;
    grid-template-columns: 600px auto;
    padding: 0 50px;
}



    #grid .widget {
        background: #f0f0f0;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        margin-right: 50px;
    }

        #grid .widget, #grid .widget h1, #grid .widget h2, #grid .widget h3, #grid .widget h4, #grid .widget h5 {
            color: #176c94;
        }


            #grid .widget.text-light, #grid .widget.text-light h1, #grid .widget.text-light h2, #grid .widget.text-light h3, #grid .widget.text-light h4, #grid .widget.text-light h5 {
                color: #fff;
            }


#sales-kpi.widget {
    background: #176c94;
}

#marketing-kpi.widget {
    background: #edd074;
}

.widget h2 {
    font-weight: 400;
    font-size: 28px;
    padding: 0 0 10px 0;
}

.widget h3 {
    font-weight: 400;
}

    .widget h3 small {
        opacity: 0.5;
        margin-left: 5px;
    }


.widget h4 {
    font-weight: 400;
    opacity: .8;
}

.metric-2-col {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}


.metric-3-col {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    align-items: center;
}

.metric {
    display: grid;
    grid-template-columns: 35px auto;
    align-items: center;
    padding: 10px 0;
}

.widget h5 {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0 0 0;
}

.metric i.fa-arrow-up {
    color: #3ecf8e
}

.metric i.fa-arrow-down {
    color: #F64E60
}

.metric i.fa-minus {
    opacity: .5;
}


.weavy-container {
    width: 100%;
    height: 250px;
}
