﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="https://kit.fontawesome.com/e8d7555061.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;800&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://hq.weavycloud.com/javascript/weavy.min.js"></script>
    <title>Boardroom - @ViewBag.Title</title>
    @Styles.Render("~/content/css")
</head>
<body>
    <div id="topbar">
        <h1><i class="fad fa-th"></i>Management Dashboard</h1>
        <div id="navigation">
            <div><i class="fad fa-bell fa-lg"></i></div>
            <div><i class="fad fa-comment-alt-lines fa-lg"></i></div>
            <div><i class="fad fa-user-circle fa-2x"></i><span>@User.Identity.Name()</span></div>
        </div>
    </div>

    @RenderBody()
    
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>
